body{
	padding-top:20px;
	padding-bottom:20px;
}

.navbar{
	margin-bottom:20px;
}

p{
	font-size:18px;
}

img{
	padding-bottom:20px;
	
}
.img-rounded {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
